.places h1 {
    font-size: 30px;
}

.places h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.places {
    display: block;
    justify-content: space-between;
}
article {
    text-align: center;
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.div-one {
    display: flex;
    justify-content: center;
}
.div-two {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-top: #DDDDDD 1px;
    border-bottom: #DDDDDD 1px;
}

.number_bathrooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.number_bathrooms::before {
    content: "";
    width: 100px;
    height: 50px;
    background: url("../images/icon_bath.png") no-repeat center;
    margin-bottom: 0;
}

.number_rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.number_rooms::before {
    content: "";
    width: 100px;
    height: 50px;
    background: url("../images/icon_bed.png") no-repeat center;
    margin-bottom: 00px;
}

.max_guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.max_guest::before {
    content: "";
    width: 100px;
    height: 50px;
    background: url("../images/icon_group.png") no-repeat center;
    margin-bottom: 0px;
}

.user {
    display: flex;
    justify-content: start;
}

.description p {
    display: flex;
    justify-content: start;
    text-align: left;
}
.price_by_night {
    justify-content: center;
    display: flex;
    color: #FF5A5F;
    border: #FF5A5F solid;
    border-radius: 50px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.price_by_night p{
    margin-top: 12px;
}

.price_title {
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.amenities {
    margin-top: 40px;
}

.locations {
    margin-top: 40px;
}

.amenities h2 {
    font-size: 16px;
    border-bottom: #DDDDDD;
    text-align: start;
}

ul {
    list-style: none;
    display: flex;
    align-items: start;
    padding: 0;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: #DDDDDD;
    text-align: start;
}

.reviews h3 {
    text-align: start;
}

.reviews p {
    text-align: start;
}

li {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.pet {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon_pets.png);
}
.tv {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon_tv.png);
}
.wifi {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url(../images/icon_wifi.png);
}

.amenities ul {
    margin-left: 10px;
}

.amenities p {
    text-align: left;
    margin-left: 30px;
    margin-top: 0;
    width: 100px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 820px) {
    .div-one {
        flex-wrap: wrap;
        justify-content: center;
    }
    .price_title {
        margin-left: 120px;
    }
    article {
        width: 600px;
    }
}