.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD ;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.25s;
}

.filters button:hover {
    opacity: 0.9;
}
.filters button:active {
    color: #FF5A5F;
    background-color: #FFFFFF;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    transition: 0.2s;
}

.filters div {
    height: 100%;
    width: 25%;
    border-right: #DDDDDD 1px;
}

h3 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.popover {
    position: relative;
    visibility: hidden;
    background-color: white;
    opacity: 1;
    z-index: 9999;
}
.locations {
    cursor: pointer;
}

.filters .amenities {
    cursor: pointer;
}

.locations:hover > .popover {
    visibility: visible;
}

.amenities:hover > .popover {
    visibility: visible;
}

.popover_list {
    margin-left: 15px;
}