header {
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
}

header .logo {
    width: 150px;
    height: 100%;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
    cursor: pointer;
}